@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);

.team2 {
  font-family: "Calibri", sans-serif;
	color: #8d97ad;
  font-weight: 300;
    padding:15  ;
}

.team2 h1, .team2 h2, .team4 h2, .team4 h2, .team2 h5, .team2 h6 {
  color: #3e4555;
  font-size: 1;
}


.team2 .font-weight-medium {
	font-weight: 500;
}

.team2 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team2 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 22px;
}

.team2 ul li a {
  color: #8d97ad;
  padding-right: 200px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team2 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}