{{ partial "header.html" . }}

<!-- {{ $products := getJSON "/data/products.json" }} -->
<main class="products">
  <!--   <img src="/images/icons/cheese-background.svg" alt="" class="background-image"> -->
  <div class="promotional-message">
    <h3>Định hướng tương lai của</h3>
    <h2>CỐC CÀ PHÊ</h2>

    <!-- <body width="device-width">
      <img src="/uploads/story.jpg" width=90%>
      <img src="/uploads/coccaphe-3-1.jpg" width=90%>
    </body> -->

    <!-- your other form fields go here -->

  </div>
  <div class=blogging>
    <h1>Thưởng thức trọn vẹn</h1>
    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
      <thead>
        <tr>
          <th scope="col"><img src="uploads/ripple-coffee.gif" class="myimg">
          </th>
          <th scope="col">
            Hai năm qua mình phải bỏ ra hai tiếng mỗi tuần để đi lựa cà phê ngon để mua
            về uống. Mình biết rằng cà phê chỉ ngon nếu được thưởng thức ngay sau khi được xay và rang xong. Hơn nữa,
            bảo quản
            cà phê cũng đòi hỏi nhiều chi phí cao để mua các thiết bị chuyên dụng để lưu trữ. Thế hóa ra, ngoài thưởng
            thức cà
            phê, mình còn … hầu hạ nó nữa. Thế là mình ước gì, có ai đó hằng tuần lựa, xay và rang cà phê gửi cho mình
            để mình
            có thể thưởng thức tách cà phê một cách trọn vẹn.
          </th>
        </tr>
      </thead>
      </tbody>
    </table>
    <br><br>
  </div>
  <div class=blogging>
    <h1>Cách hoạt động</h1>
    <img src="/uploads/coccaphe-3-1.jpg" width=90%>
  </div>

  <div class="container justify-content-center">
    <div class="row justify-content-center mb-2">
      <div class="col-md  justify-content-center text-center">
        <div class="blogging">
          <h1>Team Cốc Cà Phê</h1>
          <h2>Bọn mình xuất thân là những lập trình viên phần mềm yêu thích cà phê!</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- column  -->

      <div class="col-lg-3 mb-2 col-centered">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12 col-centered">
            <img src="/uploads/nick.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-2 font-weight-bold mb-0">Nick</h5>
              <h6 class="subtitle mb-3">Founder</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                      class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                      class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                      class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                      class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-3">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/uploads/patrick.jpg" lt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-2 font-weight-bold mb-0">Patrick</h5>
              <h6 class="subtitle mb-3">Co-founder</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                      class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                      class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                      class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                      class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
    </div>
  </div>


  <div class=blogging>

    <h1> Cốc Cà Phê cần bạn!</h1>
    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
      <thead>
        <tr>
          <th scope="col"><img src="uploads/bicycle-coffee.gif" class="myimg">
          </th>
          <th scope="col">
            Bọn mình sẽ liên hệ bạn ngay sau khi sản phẩm được chính thức công bố!
            <form action="https://formspree.io/f/xzbkqqgq" method="POST">
              <label>
                Email của bạn:
                <input type="text" name="_replyto">
              </label>
              <button type="submit">Xí chỗ!</button>
            </form>
          </th>
        </tr>
      </thead>
      </tbody>
    </table>
    <center>


    </center>
  </div>



  <!-- modify this form HTML and place wherever you want your form -->

  <!-- </form>
  {{ range where .Site.RegularPages "Section" "products"}}
    {{ partial "product.html" .Params }}
  {{ end }} -->
</main>

{{ partial "footer.html" . }}