{{ partial "header.html" . }}

<!-- {{ $products := getJSON "/data/products.json" }} -->
<main class="products">
  <img src="/images/icons/cheese-background.svg" alt="" class="background-image">
  <div class="promotional-message">
    <h3>Định hướng tương lai của</h3>
    <h2>CỐC CÀ PHÊ</h2>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;" name="viewport">
        <link rel="stylesheet" href="../includes/style.css">
    </head>
    <body width = "device-width">
    <img src="/uploads/coccaphe-3-1.jpg"%>
    </body>
    <h3> Cốc Cà Phê cần bạn!</h3>
    Trở thành những người tiên phong sở hữu sản phẩm từ Cốc Cà Phê ngay khi chúng tôi ra mắt!
    <form
      action="https://formspree.io/f/xzbkqqgq"
      method="POST"
    >
      <label>
        Email của bạn:
        <input type="text" name="_replyto">
      </label>
      <!-- your other form fields go here -->

      <button type="submit">Gửi</button>
      </div>
      <!-- modify this form HTML and place wherever you want your form -->

<!-- </form>
  {{ range where .Site.RegularPages "Section" "products"}}
    {{ partial "product.html" .Params }}
  {{ end }} -->
</main>

{{ partial "footer.html" . }}
